
.container{
	padding: 0;
	margin: 0;
}
.myvideo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
ul{
	position: absolute;
	list-style-type: none;
	margin-left: 40%;
}
ul li a{
	display: block;
	text-decoration: none;
	padding: 25px 0 25px;
	font-size: 35px;
	font-family: sans-serif;
	color:#fff;
	text-align: center;
	text-shadow: 4px 4px 4px;
 }
 a:hover{
 	color: gold;
 }
 .toggle{
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	
 }
 .ltoggle{
 	position: absolute;
 	width: 30%;
 	height: 50%;
 	left: 0;
 	background:rgb(0,0,0,.1);
 	animation-fill-mode: forwards;
 	animation: ltoggle 5s ease;
 }
 .rtoggle{
 	position: absolute;
 	width: 60%;
 	height: 50%;
 	right: 0;
 	background:rgb(0,0,0,.1);
 	animation-fill-mode: forwards;
 	animation: rtoggle 5s ease;
 }
 @keyframes rtoggle{
 	from{right: -10%;}
 	to{right: 0;}
 }
 @keyframes ltoggle{
 	from{left: -10%;}
 	to{left:  0;}
 }